.header {
  min-height: 100vh;
  background: url('../img/bg.webp') center no-repeat;
  background-size: cover;

  .header__navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 17px 0;
    z-index: 3;
  }

  .header__navbar-mobile {
    display: none;
  }

  .header__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    flex-basis: auto;

    img {
      width: 110px;
      height: auto;
    }
  }

  .header__menu {
    flex-basis: auto;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      flex-grow: 1;
      padding-left: 0;

      li {
        margin-left: 25px;

        a {
          color: $white;
          text-decoration: none;
          font-weight: 500;
          font-size: px-to-rem(16px);

          &::after {
            content: '';
            position: relative;
            top: 5px;
            display: block;
            width: 100%;
            background-color: $primary;
            height: 2px;
            transform: scale(0);
            transition-property: transform;
            transition-duration: 300ms;
          }

          &:hover::after {
            transform: scale(1);
          }
        }
      }
    }
  }

  .header__contacts {
    padding-top: 130px;
  }

  .header__contacts-container {
    width: 30%;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }

  .header__contacts-phone {
    padding: 24px 0;
    font-size: px-to-rem(16px);
    font-weight: 500;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 15px;
    }
  }

  .header__contacts-btn {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: $primary;
    border-radius: 10px;
    opacity: .75;
    transition-property: opacity;
    transition-duration: 500ms;
    box-shadow: 3px 3px 1px darken($primary, 20%);

    &:hover {
      opacity: 1;
    }

    a {
      display: block;
      padding: 10px 0;
      font-size: px-to-rem(20px);
      text-decoration: none;
      font-weight: 700;
      color: $white;
      text-transform: uppercase;
      border-radius: 10px;
    }
  }

  .header__contacts-socials {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;

    a {
      display: block;
      text-align: center;
      opacity: .75;
      transition-property: opacity;
      transition-duration: 500ms;
      color: $white;
      font-size: px-to-rem(12px);
      text-decoration: none;

      &:hover {
        opacity: 1;
      }

      img {
        padding-bottom: 5px;
      }
    }
  }

  .header__drawer {
    display: none;
  }

  .header__contacts-mobile {
    display: none;
  }

  .hashtag-mobile {
    display: none;
  }
}

.hashtag {

  p {
    margin: 0;
    margin-top: -53px;
    padding: 15px 0;
    width: 30%;
    text-align: center;
    font-size: px-to-rem(20px);
    background-color: rgba(0, 0, 0, 0.25);
    color: $white;
    font-weight: 600;
    letter-spacing: .8px;
  }
}

#arrow-up {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 25px;
  right: 25px;

  a {
    display: block;

    img {
      width: 50px;
      height: auto;
    }
  }
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  background: linear-gradient(90deg, $primary, lighten($primary, 5%));
  z-index: 30;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1000ms;
}
   
.contpre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  img {
    width: 150px;
    height: auto;
  }
}

@media only screen and (max-width: 1140px) {
  .header {

    .header__navbar {
      padding: 10px 0;
    }

    .wrap {
      padding: 0 50px;
    }

    .header__contacts {
      padding-top: 90px;

      .header__contacts-phone {
        padding: 18px 0;
        font-size: px-to-rem(14px);
      }

      .header__contacts-btn {

        a {
          font-size: px-to-rem(16px);
        }
      }

      .header__contacts-socials {
        padding: 20px 0;

        a {
          font-size: px-to-rem(10px);
        }

        img {
          width: 30px;
        }
      }
    }

    .header__logo {
      flex-basis: auto;
      
      img {
        width: 80px;
      }
    }

    .header__menu {

      ul {

        li {
          margin-left: 20px;

          a {
            font-size: px-to-rem(14px);
          }
        }
      }
    }
  }

  .hashtag {
    padding: 0 50px;

    p {
      font-size: px-to-rem(16px);
      margin-top: -48px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .header {
    background: url('../img/bg-mobile.webp') center no-repeat;
    background-size: cover;

    .header__navbar {
      display: none;
    }

    .header__navbar-mobile {
      padding-top: 20px;
      display: block;
      text-align: center;

      img {
        width: 110px;
        height: auto;
      }
    }

    .header__navbar-mobile-btn {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 7%;
      right: 7%;
      display: inline-block;
      transform: translate(-7%, -7%);
      box-sizing: border-box;
      border-bottom: 2px solid $white;
      transition: all 500ms;
      cursor: pointer;
      overflow: hidden;
      z-index: 5;

      &::before{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 2px;
        background: $white;
        transition: all .5s;
      }

      &::after{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        content: "";
        display: block;
        height: 2px;
        background: $white;
        transition: transform .5s, width 2s;
      }
    }

    .header__navbar-mobile-btn--active {
      border: 0;
      
      &:before{
        content: "";
        display: block;
        width: 100%;
        transform: rotate(45deg);
        background: $white;
        top: 100%;
        margin-top: -55%;
        left: 0;
        margin-left: -0%;
      }
      &:after{
        content: "";
        display: block;
        width: 100%;
        transform: rotate(-45deg);
        background: $white;
        top: 100%;
        margin-top: -55%;
        left: 0;
        margin-left: 0%;
      }
    }

    .header__contacts {
      display: none;
    }

    .header__drawer {
      min-height: 100vh;
      width: 250px;
      background-color: $primary;
      position: fixed;
      top: 0;
      left: -255px;
      transform: translateX(0);
      transition-property: transform;
      transition-duration: 500ms;
      box-shadow: 2px 0 5px darken($primary, 20%);
      display: block;
      z-index: 10;

      img {
        width: 90px;
        display: block;
        margin: 35px auto;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border-top: 1px solid rgba(255, 255, 255, .25);

          &:last-of-type {
            border-bottom: 1px solid rgba(255, 255, 255, .25);
          }

          a {
            display: block;
            padding: 15px 0;
            padding-left: 50px;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            font-size: px-to-rem(12px);
          }
        }
      }
    }

    .header__drawer--active {
      transform: translateX(255px);
    }

    .header__contacts-mobile {
      display: block;
      position: absolute;
      bottom: 22%;
      left: 50%;
      transform: translateX(-50%);
    }

    .header__contacts-mobile-btn {
      text-align: center;
      margin-bottom: 30px;

      a {
        color: $white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 40px;
        border: 2px solid $white;
        border-radius: 10px;
        font-size: px-to-rem(16px);
        font-weight: 800;
      }
    }

    .header__contacts-socials-mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
      width: 260px;
      opacity: .75;

      a {
        text-decoration: none;
        transition-duration: 500ms;
        transition-property: opacity;
      }

      span {
        display: block;
        font-size: px-to-rem(10px);
        color: $white;
        margin-top: 5px;
      }
    }

    .hashtag-mobile {
      display: block;

      p {
        position: absolute;
        bottom: 25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px 30px;
        text-align: center;
        font-size: px-to-rem(14px);
        background-color: rgba(0, 0, 0, 0.35);
        color: $white;
        font-weight: 500;
      }
    }
  }

  .hashtag {
    display: none;
  }

  .wrapper--active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $black;
    opacity: .5;
    z-index: 5;
  }
}

@media only screen and (max-width: 400px) {
  #arrow-up {
  
    a {
  
      img {
        width: 40px;
        height: auto;
      }
    }
  }
}