.testimonials {
  padding: 50px 0;
  margin-bottom: 50px;

  .testimonials__heading {
    padding-top: 30px;

    h2 {
      text-align: center;
      font-size: px-to-rem(32px);
      font-family: 'Raleway';
      font-weight: 500;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100px;
        transform: translateX(-50%);
        top: -40px;
        left: 50%;
        height: 6px;
        background-color: $primary;
      }
    }
  }

  .testimonials__body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $testimonialsBg;
    border-radius: 5px;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      left: 40%;
      transform: translateX(-50%);
      bottom: -60px;
      border: 20px solid transparent;
      border-top: 80px solid $testimonialsBg;
      transform: rotate(45deg);;
    }

    p {
      height: 300px;
      overflow: hidden;
      padding: 30px;
      color: $textColor;
      margin: 0;
      text-align: justify;
      line-height: 32px;
    }
  }

  .testimonials__author {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .testimonials__photo {
    margin-right: 25px;

    img {
      width: 60px;
      height: auto;
    }
  }

  .testimonials__info {
    font-family: 'Raleway';
    align-self: center;

    p {
      font-weight: 700;
      letter-spacing: .5px;
      margin: 0;
      margin-bottom: 10px;
    }

    a {
      font-weight: 400;
      color: $textColor;
      font-size: px-to-rem(12px);
      text-decoration: none;
      opacity: .7;
      transition-property: opacity;
      transition-duration: 500ms;

      &:hover {
        opacity: 1;
      }
    }
  }

  .glide__bullets {
    bottom: -50px;

    .glide__bullet {
      border: 2px solid $textColor;
      width: 15px;
      height: 15px;
    }
  
    .glide__bullet--active {
      background-color: $navbarBg;
      border-color: $navbarBg;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .testimonials {

    .testimonials__wrap {
      padding: 0 150px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .testimonials {

    .testimonials__wrap {
      padding: 0 100px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .testimonials {

    .testimonials__wrap {
      padding: 0 75px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .testimonials {

    .testimonials__wrap {
      padding: 0 150px;
    }

    .testimonials__body {
      align-items: center;
    }

    .glide__bullets {
      bottom: -40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .testimonials {

    .testimonials__wrap {
      padding: 0 75px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .testimonials {

    .testimonials__heading {
      h2 {
        font-size: px-to-rem(24px);
      }
    }

    .testimonials__body {
      p {
        font-size: px-to-rem(14px);
        line-height: 28px;
      }
    }

    .testimonials__wrap {
      padding: 0 40px;
    }

    .testimonials__photo {
      margin-right: 10px;
    }
  }
}